<div class="qs mt-3">
    <h2 class="mb-3">Hãy hỏi cộng đồng một câu hỏi đúng/sai hoặc có/không</h2>
    <form action="/question/add" method="POST" , name="frm">
        <textarea name="dd_fc_comment" class="main_txt_area" onkeyup="return displayWordCounter();"></textarea>
        <br>
        <div class="total_count">total remaining Charatctor:
            <input class="show_count" name="totalWordLimit" size="4" readonly="" value="200" type="text">
        </div>
        <button type="submit">Gui</button>
    </form>


</div>