<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ask</title>
    <link rel="stylesheet" href="E:\TechKid.EX\Slot_5_Web App\Practice Ex\views\layouts\style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <form action="/api/question/" method="post">
            <h1>Hãy hỏi cộng đồng một câu hỏi đúng/sai hoặc có/không</h1>
            <textarea class="form-control" maxlength="200" rows="6" id="question" name="question"></textarea>
            <p class="text-muted" id="counter">Còn 200/200 kí tự</p>
            <button class="btn btn-primary" type="submit" id="btn_ask">Gửi</button>
        </form>
    </div>
    <script type="text/javascript">
        $("#question").on("keyup change", function () {
            $("#counter").html(`còn ${200 - $(this).val().length}/200 ký tự`);
        });

    </script>

</body>

</html>